<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let bus of busResponse">
        <h3>{{ bus.stopName }}</h3>
        <h4>Services:</h4>
        <div class="row">
          <div class="col-xs-12">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let info of bus.busInfos">
                {{ 'Bus number: ' + info.busNumber }} {{ 'Destination: ' + info.busRoute }}
                <br><br>
                <p *ngFor="let time of info.busTimes">
                  In minutes: <strong>{{ time.minutes }}</strong>,
                  arrival time: <strong>{{ time.arrivalTime }}</strong></p>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
